root.dir=C://Pals//Code//GitHub//wikiindexer//
dump.filename=WikiDump_1600.xml
tknizer.nthreads=4
#tmp.dir=/tmp
tmp.dir=/tmp
pretkn.rules=hyph.rule,spch.rule,space.rule,accnt.rule,apos.rule,punct.rule,date.rule,nmbrs.rule,captl.rule,stwrds.rule
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Hyphen
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Punctuation
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Apostrophe
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SpecialChars
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Whitespaces
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Dates
stwrds.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Stopwords
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Accents
captl.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Capitalization
nmbrs.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Numbers
stem.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.EnglishStemmer
delim.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Delim
ddot.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.DelimDot
