#root.dir=C://Pals//Code//GitHub//wikiindexer//
root.dir=/tmp
dump.filename=wiki_small_dump.xml
tknizer.nthreads=4
#tmp.dir=C://Pals//Graduate_Course//Subjects//Information_Retrieval//Project//temp
tmp.dir=/tmp
pretkn.rules=hyph.rule,spch.rule,space.rule,accnt.rule,apos.rule,punct.rule,date.rule,nmbrs.rule,captl.rule,stwrds.rule
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Hyphen
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Punctuation
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Apostrophe
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SpecialChars
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Whitespaces
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Dates
stwrds.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Stopwords
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Accents
captl.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Capitalization
nmbrs.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Numbers
