root.dir=C://Pals//Graduate_Course//Subjects//Information_Retrieval//Project//XML_File//
dump.filename=wiki_small_dump.xml
tknizer.nthreads=4
tmp.dir=C://Pals//Graduate_Course//Subjects//Information_Retrieval//Project//temp
pretkn.rules=hyph.rule,spch.rule,space.rule,accnt.rule
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Hyphen
punct.rule=
apos.rule=
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SpecialChars
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Whitespaces
date.rule=
stwrds.rule=
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Accents
captl.rule=
nmbrs.rule=